.App {
  font-family: 'Roboto', sans-serif;
}

h3 {
  color: #3f51b5;
}

button {
  background-color: #3f51b5;
}

button:hover {
  background-color: #303f9f;
}

.MuiTableCell-root {
  font-weight: 500;
}
